html, body {
    margin: 0;
    padding: 0;
    background-color: #EEF0F4;
    font-family: 'Times New Roman', Times, serif;
    color: #432000;
    user-select: none;
    
}

.block {
   display: flex;
   flex-direction: column;
   max-width: 320px;
   margin: 30px auto;
   border: 5px solid pink;
   border-radius: 5%;
   padding: 10px;
   background-color: white

}

img {
    width: 150px;
    margin: 0 auto;
}
input {
    color: rgb(141, 101, 0);
    background-color: pink;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 0;

}

button {
    color: goldenrod;
    background-color: #7b051a;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;;
}

button:hover {
    background-color: #432000;

}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    background-color: #FFFDF8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Times New Roman', Times, serif;

}


ul li:hover {
    border: 1px solid goldenrod;
    background-color: pink;
}